## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config3 import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [10]:
# 1. Import the WeatherPy_database.csv file. 
city_data_load = "Untitled/WeatherPy_Database-Copy1.csv"
city_data_df = pd.read_csv(city_data_load)
city_data_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
0,0,Barrow,71.2906,-156.7887,48.22,87,100,14.97,US,overcast clouds
1,1,Kapaa,22.0752,-159.3190,82.38,76,40,16.11,US,scattered clouds
2,2,Kenitra,34.2610,-6.5802,66.96,84,0,1.01,MA,clear sky
3,3,Punta Arenas,-53.1500,-70.9167,30.31,93,0,10.36,CL,clear sky
4,4,Vaini,-21.2000,-175.2000,77.16,69,20,6.91,TO,few clouds
...,...,...,...,...,...,...,...,...,...,...
677,677,Katsuura,35.1333,140.3000,76.55,82,93,13.82,JP,overcast clouds
678,678,Shymkent,42.3000,69.6000,72.19,31,0,6.71,KZ,clear sky
679,679,Shatrovo,56.5167,64.6333,57.54,91,97,8.70,RU,overcast clouds
680,680,Naryan-Mar,67.6713,53.0870,64.04,75,8,12.80,RU,clear sky
681,681,Manyana,-23.4000,21.7167,52.09,48,0,5.59,BW,clear sky

In [13]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [14]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,1,Kapaa,22.0752,-159.3190,82.38,76,40,16.11,US,scattered clouds
4,4,Vaini,-21.2000,-175.2000,77.16,69,20,6.91,TO,few clouds
5,5,Haines Junction,60.7522,-137.5108,77.22,34,43,7.99,CA,scattered clouds
8,8,Monrovia,6.3005,-10.7969,76.19,84,27,6.38,LR,light rain
9,9,Maragogi,-9.0122,-35.2225,75.02,87,0,11.56,BR,clear sky
10,10,Gold Coast,-28.0000,153.4333,75.18,75,40,3.44,AU,scattered clouds
13,13,Kathu,7.9178,98.3332,84.02,99,78,8.25,TH,broken clouds
21,21,Norsup,-16.0667,167.3833,82.09,78,80,14.74,VU,broken clouds
26,26,Surin,14.8818,103.4936,84.99,99,100,8.77,TH,overcast clouds
30,30,Kilindoni,-7.9139,39.6668,76.59,74,5,15.90,TZ,clear sky

In [18]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()
preferred_cities_df.notnull()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Current Description
1,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True
8,True,True,True,True,True,True,True,True,True,True
9,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
668,True,True,True,True,True,True,True,True,True,True
669,True,True,True,True,True,True,True,True,True,True
671,True,True,True,True,True,True,True,True,True,True
673,True,True,True,True,True,True,True,True,True,True
677,True,True,True,True,True,True,True,True,True,True

In [8]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [20]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,
4,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,
5,Haines Junction,CA,77.22,scattered clouds,60.7522,-137.5108,
8,Monrovia,LR,76.19,light rain,6.3005,-10.7969,
9,Maragogi,BR,75.02,clear sky,-9.0122,-35.2225,
10,Gold Coast,AU,75.18,scattered clouds,-28.0000,153.4333,
13,Kathu,TH,84.02,broken clouds,7.9178,98.3332,
21,Norsup,VU,82.09,broken clouds,-16.0667,167.3833,
26,Surin,TH,84.99,overcast clouds,14.8818,103.4936,
30,Kilindoni,TZ,76.59,clear sky,-7.9139,39.6668,

In [39]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Haines Junction,CA,77.22,scattered clouds,60.7522,-137.5108,Parkside Inn
8,Monrovia,LR,76.19,light rain,6.3005,-10.7969,Sunset Inn
9,Maragogi,BR,75.02,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
10,Gold Coast,AU,75.18,scattered clouds,-28.0000,153.4333,Mantra Towers of Chevron Surfers Paradise
13,Kathu,TH,84.02,broken clouds,7.9178,98.3332,Novotel Phuket Resort
21,Norsup,VU,82.09,broken clouds,-16.0667,167.3833,Nabelchel Bungalows
26,Surin,TH,84.99,overcast clouds,14.8818,103.4936,One Fu Hotel
30,Kilindoni,TZ,76.59,clear sky,-7.9139,39.6668,Bustani B&B

In [43]:
hotel_df.dropna()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Kapaa,US,82.38,scattered clouds,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
4,Vaini,TO,77.16,few clouds,-21.2000,-175.2000,Keleti Beach Resort
5,Haines Junction,CA,77.22,scattered clouds,60.7522,-137.5108,Parkside Inn
8,Monrovia,LR,76.19,light rain,6.3005,-10.7969,Sunset Inn
9,Maragogi,BR,75.02,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
...,...,...,...,...,...,...,...
668,Nisia Floresta,BR,75.58,scattered clouds,-6.0911,-35.2086,Rancho Crepusculo
669,Andijon,UZ,79.88,clear sky,40.7821,72.3442,"Hotel ""Bog'ishamol"""
671,Porbandar,IN,82.62,moderate rain,21.6422,69.6093,Lords Inn Porbandar
673,Kotma,IN,80.37,overcast clouds,23.2000,81.9667,Adil ka ghar
677,Katsuura,JP,76.55,overcast clouds,35.1333,140.3000,Katsuura Hotel Mikazuki

In [46]:
# 8a. Create the output File (CSV)
# Create the output file (CSV).
output_data_file = "Untitled/WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [49]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [52]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))